{% extends 'base.html' %}

{% block head%}
<title>Admin-Home</title>
{% endblock %}

{% block body%}

    <div style="margin-left:200px">
      {% for myseller in all_sellers %}
        <h1>Sellers {{myseller.count_1}}</h1>
      {% endfor %}

        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Company Initials</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for seller in all_sellers %}
              <tr>
                <td>{{seller.companyname}}</td>
                <td>{{seller.comapanyinitials}}</td>
                <td>
                    <form method="POST" action="{{url_for('admin.delete_seller', id=seller.id)}}">
                        <button name="" class="btn btn-danger">Delete</button>
                    </form>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>


{% endblock %}